<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link type="text/css" rel="stylesheet" href="css/spacelab.bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/local.css" />

		<link rel="icon" href="images/icon-64.png">

		<title>OpenTT – Racket Control</title>
	</head>

	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><img src="images/icon-64.png" class="img-fluid mr-5" alt="OpenTT-Logo" title="OpenTT – Racket Control" width="32" /> OpenTT – Racket Control</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			</div>
		</nav>

		<form>

			<div class="container">
				<div class="row mt-5">
					<div class="col-8">
						<h1>OpenTT – Racket Control</h1>
						<p>Schlägertests für alle in einfach.</p>
					</div>
					<div class="col-4">
						<img src="images/logo.png" class="img-fluid float-end" alt="OpenTT-Logo" title="OpenTT - Racket Control" width="100" />
					</div>
				</div>
			</div>

			<div class="container mt-4">
				<div class="row">
					<div class="col">
						<div class="alert alert-dismissible alert-warning">
							<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							<h4 class="alert-heading">Achtung!</h4>
							<p class="mb-0">Eingegebene Daten werden nicht zwischengespeichert.</p>
						</div>
						<script id="result-template" type="text/x-handlebars-template">
							<div class="card border-{{#if valid}}success{{else}}warning{{/if}} mb-3">
								<div class="card-header">Testergebnis</div>
								<div class="card-body">
									{{#if valid}}
										<h4 class="card-title" id="result-heading">Der Schläger ist korrekt.</h4>
										<p class="card-text" id="result-body">Beide Beläge sowie das Holz haben alle Tests bestanden.</p>
									{{else}}
										<h4 class="card-title" id="result-heading">Der Schläger wird beanstandet.</h4>
										<p class="card-text" id="result-body">Folgende Beanstandungen wurden gefunden:</p>
										<ul class="list-group">
											{{#each errors}}
												<li class="list-group-item" id="result-error-{{@index}}">{{this}}</li>
											{{/each}}
										</ul>
									{{/if}}
								</div>
							</div>
						</script>
						<div id="result-content"></div>
						<script id="error-visual-template" type="text/x-handlebars-template">
							Die allgemeine Beschaffenheit ist fehlerhaft.
						</script>
						<script id="error-larc-template" type="text/x-handlebars-template">
							Der {{#if (isBlack color)}}schwarze{{else}}farbige{{/if}} Belag ist nicht gültig (LARC-Prüfung).
						</script>
						<script id="error-nominmax-template" type="text/x-handlebars-template">
							Die Ebenheit des {{#if (isBlack color)}}schwarzen{{else}}farbigen{{/if}} Belags ist nicht ausreichend vermessen worden ({{count}} Messungen statt mindestens {{mincount}} Messungen).
						</script>
						<script id="error-minmax-template" type="text/x-handlebars-template">
							Ebenheit: Der {{#if (isBlack color)}}schwarze{{else}}farbige{{/if}} Belag ist mit {{value}} mm zu stark nach {{#if (isEqual minmax "Minimum")}}innen{{else}}außen{{/if}} gewölbt (Grenzwert {{limit}} mm).
						</script>
						<script id="error-nothickness-template" type="text/x-handlebars-template">
							Die Dicke des {{#if (isBlack color)}}schwarzen{{else}}farbigen{{/if}} Belags ist nicht ausreichend vermessen worden ({{count}} Messungen statt {{mincount}} Messungen).
						</script>
						<script id="error-thickness-template" type="text/x-handlebars-template">
							Dicke: Der {{#if (isBlack color)}}schwarze{{else}}farbige{{/if}} Belag ist mit {{value}} mm zu dick (Grenzwert {{limit}} mm).
						</script>
					</div>
				</div>
			</div>

			<!-- Visual Inspection -->
			<script id="visual-template" type="text/x-handlebars-template">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="{{id}}" />
					<label class="form-check-label" for="{{id}}">allgemeine Beschaffenheit ok</label>
				</div>
			</script>
			<div class="container mt-4">
				<div class="row">
					<div class="col">
						<h2>1. Prüfung der allgemeinen Beschaffenheit des Schlägers</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-6"><!-- left side -->
						<p>Ein Schlägertest beginnt mit einer optischen Inspektion.</p>
					</div>
					<div class="col-6"><!-- right side -->
						<div id="visual-container"></div>
					</div>
				</div>
			</div>


			<!-- LARC -->
			<script id="larc-template" type="text/x-handlebars-template">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="{{id}}{{color}}" />
					<label class="form-check-label" for="{{id}}{{color}}">{{#if (isBlack color)}}schwarzer{{else}}farbiger{{/if}} Belag gültig</label>
				</div>
			</script>
			<div class="container mt-4">
				<div class="row">
					<div class="col">
						<h2>2. Gültigkeitsprüfung</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-6"><!-- left side -->
						<p>Prüfen, ob der Belag in der oder den derzeit gültigen LARC vorhanden ist:</p>
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center"><a href="https://equipment.ittf.com/#/equipment/racket_coverings" target="_blank">ITTF</a></li>
							<li class="list-group-item d-flex justify-content-between align-items-center"><a href="https://www.tt-schiri.de/einsatzinformationen/#belaglisten" target="_blank">TT-Schiri</a></li>
						</ul>
					</div>
					<div class="col-6"><!-- right side -->
						<div id="larc-container"></div>
					</div>
				</div>
			</div>

			<!-- Flatness -->
			<script id="flatness-template" type="text/x-handlebars-template">
				<div class="row">
					<div class="col">
						<h3>{{#if (isBlack color)}}Schwarze{{else}}Farbige{{/if}} Seite</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-6"><!-- left side -->
						<p>Mindestens {{mincount}} Messwerte, negative Vorzeichen eingeben, Dezimaltrenner ist der Punkt "."</p>
					</div>
					<div class="col-3">
						<div id="flatness-single-{{color}}-container"></div>
						<button class="btn btn-info" type="button" id="btnAdd{{id}}{{color}}">+</button>
					</div>
					<div class="col-3">
						<div id="flatness-minmax-{{color}}-container"></div>
					</div>
				</div>
			</script>

			<script id="flatness-single-template" type="text/x-handlebars-template">
				<div class="input-group mb-3">
					<span class="input-group-text">Messung {{index}}</span>
					<input type="text" class="form-control" id="{{id}}{{color}}{{index}}" aria-label="Messung {{index}}" />
					{{#if (isGreater index mincount)}}
						<button class="btn btn-warning" id="btnDelete{{id}}{{color}}{{index}}" type="button">🗑</button>
					{{/if}}
				</div>
			</script>

			<script id="flatness-minmax-template" type="text/x-handlebars-template">
				<div class="input-group mb-3">
					<span class="input-group-text">{{minmax}}</span>
					<input type="text" class="form-control" id="{{id}}{{color}}{{minmax}}" aria-label="{{minmax}}" disabled="" />
				</div>
			</script>

			<div class="container mt-4">
				<div class="row">
					<div class="col">
						<h2>3. Prüfung der Belagebenheit</h2>
					</div>
				</div>
				<div id="flatness-container"></div>
			</div>


			<!-- thickness -->
			<script id="thickness-template" type="text/x-handlebars-template">
				<div class="row">
					<div class="col">
						<h3>{{#if (isBlack color)}}Schwarze{{else}}Farbige{{/if}} Seite</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-6"><!-- left side -->
						<p> Es werden {{mincount}} Messungen vorgenommen: zwei in Längsrichtung des Schlägerblattes, parallel zum Schlägergriff (bzw. senkrecht zur Unterkante des Belags), zwei weitere diagonal</p>
						<p>Negative Vorzeichen eingeben, Dezimaltrenner ist der Punkt "."</p>
					</div>
					<div class="col-3">
						<div id="thickness-single-{{color}}-container"></div>
					</div>
					<div class="col-3">
						<div id="thickness-average-{{color}}-container"></div>
					</div>
				</div>
			</script>

			<script id="thickness-single-template" type="text/x-handlebars-template">
				<div class="input-group mb-3">
					<span class="input-group-text">Messung {{index}}</span>
					<input type="text" class="form-control" id="{{id}}{{color}}{{index}}" aria-label="Messung {{index}}" />
				</div>
			</script>

			<script id="thickness-average-template" type="text/x-handlebars-template">
				<div class="input-group mb-3">
					<span class="input-group-text">⌀</span>
					<input type="text" class="form-control" id="{{id}}{{color}}" aria-label="Durchschnitt" disabled="" />
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Dickenwert</span>
					<input type="text" class="form-control" id="{{idfinal}}{{color}}" aria-label="Dickenwert" disabled="" />
				</div>
			</script>

			<div class="container mt-4">
				<div class="row">
					<div class="col">
						<h2>4. Prüfung der Belagdicke</h2>
					</div>
				</div>
				<div id="thickness-container"></div>
			</div>

		</form>

		<footer id="footer">
			<div class="container mt-4">
				<div class="row">
					<div class="col border-top pt-3 pb-3">
						<p>✎ Ekkart Kleinod, 📅 9. Februar 2024, <a href="/" target="_blank">OpenTT</a>, <a href="https://opentt.gitlab.io/racket-control" target="_blank">Info über die Technik</a></p>
					</div>
				</div>
			</div>
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/handlebars.js"></script>
		<script src="js/handlebars-helper.js"></script>
		<script src="js/local.js"></script>

	</body>
</html>
